$carousel-color: #ffa800;
$control-transition-time: 0.5s;

#carousel {
  .carousel-item {
    img {
      height: 500px;
      object-fit: cover;
    }
  }
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
  .container {
    padding: 0;
  }

  .carousel-control {
    &-prev,
    &-next {
      top: auto;
      bottom: auto;
      bottom: 0;
      width: 50px;
      height: 50px;
      border: 1px solid $carousel-color;
      border-radius: 50%;
      opacity: 1;
      transition: $control-transition-time;
      &:hover {
        background-color: $carousel-color;
      }
    }
    &-prev {
      left: calc(50% + 100px);
      @media screen and (max-width: 768px) {
        top: 15px;
        right: 85px;
        left: auto;
      }
      &:hover > .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
      }
      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
      }
    }
    &-next {
      left: calc(50% + 180px);
      @media screen and (max-width: 768px) {
        top: 15px;
        right: 15px;
        left: auto;
      }
      &:hover > .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }
      &-icon {
        transition: $control-transition-time;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 166, 58)'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
      }
    }
  }
}

/* .carousel-container {
  background-color: #555;
} */
